<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class= "mt-5">Update <%= @list.name %></h1>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name, placeholder: 'Drama' %>
        <%= f.submit class: 'btn btn-ghost' %>
      <% end %>
    </div>
  </div>

</div>
