<div class="container">
  <h1 class= "mt-5">Create a new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'Drama' %>
    <%= f.submit class: 'btn btn-dark' %>
  <% end %>
  <%= link_to "All my lists", lists_path, class: "btn btn-dark" %>
</div>
